.card {
    margin-bottom: 0.5rem;
    box-shadow: 3px 3px 2px #ebebeb;
}

.cardContent {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.cardTitle {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.cardHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.avatar {
    width: 30px;
    height: 30px;
    background-color: #2196f3;
}
