.card {
    margin-bottom: 0.5rem;
    box-shadow: 3px 3px 2px #ebebeb;
}

.cardContent {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

.cardTitle {
    font-weight: bold !important;
    margin-bottom: 0.5rem !important;
}

.cardHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.avatar {
    width: 30px !important;
    height: 30px !important;
    background-color: #2196f3 !important;
}
