.card {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 3px 3px 2px #EBEBEB;
}

.cardContent {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

.cardTitle {
    font-weight: bold !important;
    margin-bottom: 0.5rem !important;
}
.progress {
    text-align: right;
    color: #9E9E9E;
}

.cardHeader {
    padding: 1rem;
}

.projectAvatar {
    width: 45px !important;
    height: 45px !important;
    background-color: #fc6b03 !important;
}

.avatar {
    width: 30px !important;
    height: 30px !important;
    background-color: #2196f3 !important;
}
