.toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.profileBox {
    margin-top: 1.5rem;
    text-align: center;
}

.profileBox p {
    font-weight: bold;
}

.avatar {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 50px;
    height: 50px;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
