.card {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    text-align: center;
}

.cardTitle {
    font-weight: bold !important;
    margin-bottom: 0.5rem !important;
}

.cardHeader {
    padding: 1rem;
}

.createNewText {
    font-weight: bold !important;
}