.card {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 3px 3px 2px #ebebeb;

    .cardContent {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .cardTitle {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .cardHeader {
        padding: 1rem;
    }

    .appIcon {
        display: block;
        margin: 0 auto;
        max-width: 85px;
        padding: 25px;
    }
}
