.box {
    display: flex;
}

.mainContent {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
}

.mainContainer {
    margin-top: 2rem; 
    margin-bottom: 2rem; 
}

.taskField {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 865px;
}

.taskTitle {
    font-weight: bold !important;
    padding-top: 0.5rem;
}

.divider {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.createNewText {
    font-weight: bold !important;
    padding-top: 1rem;
}